<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sleepy Chatbot</title>
    <link rel="stylesheet" href="static/sleepybot.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <script src="static/sleepybot.js" defer></script>
</head>
<body class="show-chatbot">
    <button class="chatbot-toggler">
        <span class="material-symbols-outlined">mode_comment</span>
        <span class="material-symbols-outlined">close</span>   
    </button>
    <div class="chatbot">
        <header>
          <h2>Sleepy Chatbot</h2>
          <span class="material-symbols-outlined">close</span>
        </header>
        <ul class="chatbox">
            <li class="chat incoming">
              <span class="material-symbols-outlined">smart_toy</span>
              <p>Salut!<br> comment puis-je vous aider aujourd'hui ?</p>
            </li>
        </ul>
        <div class="chat-input">
            <textarea placeholder="Entrer un message..." required></textarea>
            <span id="send-btn" class="material-symbols-outlined">send</span>
        </div>
    </div>    
    
</body>
</html>